<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.beauty.bytedance">

    <uses-sdk tools:overrideLibrary="com.sensetime.hardwarebuffer" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
</manifest>