/build
/src/main/assets

!src/main/assets/beauty_bytedance/PLACEHOLDER
!src/main/assets/beauty_faceunity/PLACEHOLDER
!src/main/assets/beauty_sensetime/PLACEHOLDER
/src/main/java/io/agora/beautyapi/demo/module/faceunity/authpack.java
